
table, th, td {
    border: 1px solid black;
    text-align: center;
    margin-left: 4px;
}

.col-md-3 {
    background: white;
}

.col-md-3#run {
        background: lightblue;
}

.col-md-3#walk {
        background: lightgreen;
    }

.col-md-3#row {
        background: lightpink;
    }

.col-md-3#pull {
        background: lightyellow;
    }

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}